/* table styles */

td,
th {
  vertical-align: middle;
  text-align: center;
}

thead tr th input {
  align-items: center;
  width: 40px;
}

thead tr th {
  align-items: center;
}

tr {
  /* box-shadow: 0px 0px 2px 0px; */
  height: 50px;
  border-radius: 1rem;
}

table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  /* box-shadow: 0px 0px 3px 0px; */
}

.header_color th {
  background-color: #d3e3f3;
  /* color: white; */
}

.header_color th:first-child {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.header_color th:last-child {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

tbody {
  position: relative;
  top: 10px;
}

.action_button a {
  margin-right: 15px;
}

tbody tr:first-child td:first-child {
  border-top-left-radius: 7px !important;
}

tbody tr:first-child td:last-child {
  border-top-right-radius: 7px !important;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 7px !important;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 7px !important;
}

tbody {
  background-color: #ffffff;
}

/* .content-header {
    color: #3949ab;
    font-size: 2rem;
} */

.cls-sync {
  padding-top: 10px;
}

.row {
  margin-right: 20px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
}

.btn {
  padding: 2px 6px;
}

.cls-user {
  background-color: #3949ab;
}

.cls-user:hover {
  background-color: #3949ab;
}

.modal-header {
  background-color: #3949ab;
  color: white;
  border-bottom: none;
}

.modal-footer {
  border-top: none;
  margin-top: 15px;
  margin-bottom: -15px;
}

.modal-body label {
  color: #3949ab;
  font-weight: 700;
  font-size: 0.9rem;
}

.modal-body input {
  color: black;
  font-size: 0.9rem;
}
.manageUserDropdown {
  font-size: 0.9rem;
}

.btn-group .btn-view {
  background-color: #4a90e2;
  color: white;
  font-size: 1rem;
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
}

.button {
  font-size: 1rem;
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  cursor: pointer;
  margin-top: 5px;
  background-color: white !important;
  border: 1px solid #08479f !important;
  color: #08479f !important;
  border-radius: 2rem !important;
}

.action_button {
  text-align: center;
}

/* serach */
/* .search-box {
    display: flex;
    align-items: center;
    width: 120px;
    height: 34px;
    background-color: white;
    
    border: 1px solid #08479F;
    color: #08479F;
    border-radius: 2rem;
    padding: 5px 20px;
    transition: all 0.3s ease;
    overflow: hidden;
} */

.search-box.expanded {
  width: 210px;
}

.search-container {
  float: right;
  margin-bottom: 1rem;
}

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  font-weight: 700;
  color: #08479f;
  width: 0;
  padding: 0;
  transition: all 0.3s ease;
}

.search-box.expanded .search-input {
  width: 100%;
  padding: 0 10px;
}

.search-button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #08479f;
  font-weight: 700;
}

/* .search-button:hover {
    background-color: #357ABD;
    color:white
} */

.search-button i {
  margin-right: 10px;
  /* margin-left: 10px; */
}

/* Hide placeholder when not expanded */
.search-box:not(.expanded) .search-input::placeholder {
  color: transparent;
}

.search-box.expanded .search-button span {
  display: none;
}

.search-input::placeholder {
  color: #08479f;
  opacity: 1;
}

.bi-search:before {
  display: block;
}

.cls-page {
  text-align: center;
}

.cls-pencil {
  background-color: transparent;
  border: none;
}

.cls-pencil i {
  font-size: 16px;
  color: black;
  margin-right: 5px;
}

ul {
  list-style: none;
}

.modal-header button {
  color: white;
}

.btn-close {
  color: white !important;
}

.button {
  background-color: #4a90e2;
  color: white;
  font-size: 1rem;
  padding: 5px 20px;
  border-radius: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  cursor: pointer;
  margin-right: 5px;
}

@media (min-width: 320px) and (max-width: 480px) {
.row {
  margin-right: 0px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
}

.cls-tabler{
  overflow: scroll;
}
.main-page{
  display: block;
  overflow: scroll;
}
.manageUserDropdown {
  font-size: var(--MOBILETEXTSIZE);
}
}