

.product-card.increased-width {
    width: 500px;
}

.product-card:hover {  
    
    z-index: 10;
}

.product-detail-label, .product-detail {
    margin: 2px 0;
}

.product-detail-label {
    font-weight: bold;
    font-size: 13px;
}

.btn-primary {
    margin-top: 5px;
    padding: 5px 10px;
}

.card-title-container { 
    background: linear-gradient(135deg, #092248, rgba(17,46,92,0.7));
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.5rem;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}


.card-body-container {
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    min-height: 245px;
}

.product-title{
    color:#fff;
}

.card-footer-container {
    background-color: #f3f4f6;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}

.product-card.increased-width .card-body-container {
    padding: 10px;
    background-color: #f3f4f6;
    border-bottom-left-radius: 10px;
    font-size: 1.3rem;
    border-bottom-right-radius: 10px;
}


.nav {
    font-size: larger;
}

/* 
.search-container {
    display: flex;
    justify-content: flex-end;
}

.search-box {
    display: flex;
    align-items: center;
    width: 120px;
    background-color: #4A90E2;
    border: 1px solid #4A90E2;
    border-radius: 5px;
    padding: 7px 15px;
    transition: all 0.3s ease;
    overflow: hidden;
}

.search-box.expanded {
    width: 210px;
}

.search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    font-weight: 700;
    color: white;
    width: 0;
    padding: 0;
    transition: all 0.3s ease;
}

.search-box.expanded .search-input {
    width: 100%;
    padding: 0 10px;
}

.search-button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0 5px;
    align-items: center;
    color: white;
    font-weight: 700;
}

.search-button i {
    margin-right: 10px;
}

.search-input::placeholder {
    color: white;
    opacity: 1;
} */

ul {
    list-style: none;
}

/* Hide placeholder when not expanded */
.search-box:not(.expanded) .search-input::placeholder {
    color: transparent;
}

/* Hide the "Search" text when expanded */
.search-box.expanded .search-button span {
    display: none;
}
.bi-search:before {
display: block;
}

.sort-container{
    width: 200px;
}

.card-body-container{
    padding: 0px !important;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 4px rgba(0,0,0,0.1); 
}
.title-product{
    background-color: #000;
    height: auto;
    width: 260px;
    border-radius: 0px 30px 30px 0px;
    margin-top: 20px;
    /* background : linear-gradient(90deg, rgba(185,179,245,1) 0%,rgba(139,47,148,1)0%,rgba(225,72,128,1)100%); */
    background: linear-gradient(to right,#3949AB,#038fD1);
    padding: 14px 10px;
}

.title-product h4{
    font-size: 16px !important;
    margin: unset;
}

.backlog-content{
    padding: 20px 20px;
    
}

.product-detail-label{
    color: #000000;
}
.cls-noProductIcon {
    font-size: 4rem;
}
.cls-norecFound{
    display: block;
    margin-top: 10% !important;
}

.product-detail{
    
    color: black;
    font-size: 13px;
    padding: 3px;
}

.card-body-container:hover{
    transition: transform 0.4s ease;
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1); 
}

.highlighted-product {
    order: -1; 
}
.hidden-product {
    display: none;
}